<h1 class="page-header">Forms</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#/forms">Form</a></li>
  <li ><a href="#/form-fields">Fields</a></li>
</ul>
<div class='table-responsive'>
  <table class="table table-bordered table-striped">
    <tr>
      <th><div class='glyphicon glyphicon-triangle-bottom'></div>Username</th>
      <th><div class='glyphicon glyphicon-triangle-bottom'></div>Action</th>
    </tr>
    <tr>
      <td>
        <div>
          <input type="text" class="form-control" id="form-name" placeholder="Name">
        </div>
      </td>
      <td><div class='glyphicon glyphicon-plus'></div><div class='glyphicon glyphicon-ok'></td>
    </tr>
    <tr>
      <td>Registration Form</td>
      <td><div class='glyphicon glyphicon-remove'></div><div class='glyphicon glyphicon-pencil'></td>
    </tr>
    <tr>
      <td>Contact List</td>
      <td><div class='glyphicon glyphicon-remove'></div><div class='glyphicon glyphicon-pencil'></td>
    </tr>
    <tr>
      <td>To Do List</td>
      <td><div class='glyphicon glyphicon-remove'></div><div class='glyphicon glyphicon-pencil'></td>
    </tr>
  </table>
</div>